<h1>Editing keyword badge</h1>

<%= render "form", keyword_badge: @keyword_badge %>

<br>

<div>
  <%= link_to "Show this keyword badge", @keyword_badge %> |
  <%= link_to "Back to keyword badges", keyword_badges_path %>
</div>
